<div class="main-content">
    <div class="container-fluid">
      
        <div class="row">
            <div class="col-md-12">

              <div class="btn-group" role="group" aria-label="Basic mixed styles example" >   
                <button mat-raised-button color="#2B3E42" style="margin-left: 650px"(click)="clientsPhysiques()"><span class="material-icons" style="margin-right: 5px;">filter_alt</span>Clients physiques</button>
                <button mat-raised-button color="#2B3E42" style="margin-left: 20px" (click)="clientsMorales()" ><span class="material-icons" style="margin-right: 5px;">filter_alt</span>Clients moraux</button>
              </div>
  
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Liste clients</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
  <div style="margin-top: 40px;margin-right: 10px;">

    <mat-form-field >
      <mat-label>Chercher</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Matricule Fiscale" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- ID Column -->
        <ng-container matColumnDef="codeClient">
          <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> ID Client </th>
          <td mat-cell *matCellDef="let personne_morale"> {{personne_morale.codeClient}} </td>
        </ng-container>
    
      <!-- ID Column -->
      <ng-container matColumnDef="numTelephone">
        <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
        <td mat-cell *matCellDef="let personne_morale"> {{personne_morale.numTelephone}} </td>
      </ng-container>
        <!-- ID Column -->
        <ng-container matColumnDef="nature">
          <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>Nature</th>
          <td mat-cell *matCellDef="let personne_morale"> {{personne_morale.nature}} </td>
        </ng-container>
        <!-- ID Column -->
        <ng-container matColumnDef="formeJuridique">
          <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> Forme Juridique </th>
          <td mat-cell *matCellDef="let personne_morale"> {{personne_morale.formeJuridique}} </td>
        </ng-container>

         <!-- ID Column -->
         <ng-container matColumnDef="denominationSociale">
          <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> Denomination Sociale </th>
          <td mat-cell *matCellDef="let personne_morale"> {{personne_morale.denominationSociale}} </td>
        </ng-container>
          <!-- ID Column -->
          <ng-container matColumnDef="niveauRisque">
            <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>Risque </th>
            <td mat-cell *matCellDef="let personne_morale"> {{personne_morale.niveauRisque}} </td>
            
          </ng-container>
          <ng-container matColumnDef="detailsAction">
            <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let personne_morale" style="color: rgb(130, 26, 0);"><button mat-button (click)="details(personne_morale.codeClient)"><span class="material-icons">description</span></button>
              </ng-container> 
          <ng-container matColumnDef="deleteAction">
            <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let contact" style="color: indigo;"><button mat-button (click)="deletePP(contact.codeClient)"><span class="material-icons">delete</span></button>
                
              </ng-container> 
          
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let personne_morale; columns: columnsToDisplay ;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Aucune donnée correspondant au recherche "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>
</div>
</div>               
</div>
</div>


</div>
