

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Vos clients </h4>
                        <p class="card-category"> Clients ayant un statut fatca actif</p>
                    </div>
                    <div class="card-body">
                        <label class="l1">Clients moraux</label>
                        <div style="margin-top: 40px;margin-right: 10px;">

                            <mat-form-field >
                              <mat-label>Chercher</mat-label>
                              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Matricule Fiscale" #input>
                            </mat-form-field>
                            
                            <div class="mat-elevation-z8">
                              <table mat-table [dataSource]="dataSource" matSort>
                            
                                <!-- ID Column -->
                                <ng-container matColumnDef="codeClient">
                                  <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> ID Client </th>
                                  <td mat-cell *matCellDef="let personne_morale"> {{personne_morale.codeClient}} </td>
                                </ng-container>
                            
                              <!-- ID Column -->
                              <ng-container matColumnDef="numTelephone">
                                <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
                                <td mat-cell *matCellDef="let personne_morale"> {{personne_morale.numTelephone}} </td>
                              </ng-container>
                                <!-- ID Column -->
                                <ng-container matColumnDef="nature">
                                  <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>Nature</th>
                                  <td mat-cell *matCellDef="let personne_morale"> {{personne_morale.nature}} </td>
                                </ng-container>
                                <!-- ID Column -->
                                <ng-container matColumnDef="formeJuridique">
                                  <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> Forme Juridique </th>
                                  <td mat-cell *matCellDef="let personne_morale"> {{personne_morale.formeJuridique}} </td>
                                </ng-container>

                                  <!-- ID Column -->
                              <ng-container matColumnDef="denominationSociale">
                              <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> Denomination Sociale </th>
                             <td mat-cell *matCellDef="let personne_morale"> {{personne_morale.denominationSociale}} </td>
                              </ng-container>

                                  <!-- ID Column -->
                                  <ng-container matColumnDef="paysResidence">
                                    <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>Pays residence </th>
                                    <td mat-cell *matCellDef="let personne_morale"> {{personne_morale.paysResidence}} </td>
                                    
                                  </ng-container>
                                  <ng-container matColumnDef="detailsAction">
                                    <th mat-header-cell *matHeaderCellDef> </th>
                                      <td mat-cell *matCellDef="let personne_morale" style="color: rgb(130, 26, 0);"><i class="material-icons" (click)="details(personne_morale)">description</i>
                                </ng-container> 
                                 
                                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                                <tr mat-row *matRowDef="let personne_morale; columns: columnsToDisplay ;"></tr>
                            
                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                  <td class="mat-cell" colspan="4">Aucune donnée correspondant au recherche "{{input.value}}"</td>
                                </tr>
                              </table>
                            
                              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            </div>
                        </div>
                     

                        <label class="l1">Clients physiques</label>
                        <div style="margin-top: 40px;margin-right: 10px;">

                            <mat-form-field >
                              <mat-label>Chercher</mat-label>
                              <input matInput (keyup)="applyFilterone($event)" placeholder="Ex. Num CIN" #input1>
                            </mat-form-field>
                            
                            <div class="mat-elevation-z8">
                              <table mat-table [dataSource]="dataSource1" matSort>
                            
                                 <!-- ID Column -->
        <ng-container matColumnDef="codeClient">
            <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> ID Client </th>
            <td mat-cell *matCellDef="let personne_physique"> {{personne_physique.codeClient}} </td>
          </ng-container>
      
        <!-- ID Column -->
        <ng-container matColumnDef="nom">
          <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> Nom</th>
          <td mat-cell *matCellDef="let personne_physique"> {{personne_physique.nom}} </td>
        </ng-container>
          <!-- ID Column -->
          <ng-container matColumnDef="prenom">
            <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> Prenom</th>
            <td mat-cell *matCellDef="let personne_physique"> {{personne_physique.prenom}} </td>
          </ng-container>

           <!-- ID Column -->
           <ng-container matColumnDef="profession">
            <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>Profession</th>
            <td mat-cell *matCellDef="let personne_physique"> {{personne_physique.profession}} </td>
          </ng-container>
          <!-- ID Column -->
          <ng-container matColumnDef="numTelephone">
            <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>  Contact  </th>
            <td mat-cell *matCellDef="let personne_physique"> {{personne_physique.numTelephone}} </td>
          </ng-container>
            <!-- ID Column -->
            <ng-container matColumnDef="paysResidence">
              <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>Pays residence </th>
              <td mat-cell *matCellDef="let personne_physique"> {{personne_physique.paysResidence}} </td>
              
            </ng-container>
  
            
            <ng-container matColumnDef="detailsAction">
              <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let personne_physique" style="color: rgb(130, 26, 0);"><i class="material-icons" (click)="detailsPP(personne_physique)">description</i>
          </ng-container> 
  
  
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay1"></tr>
          <tr mat-row *matRowDef="let personne_physique; columns: columnsToDisplay1 ;"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Aucune donnée correspondant au recherche "{{input1.value}}"</td>
          </tr>



                              </table>
                            
                              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            </div>
                        </div>






                    </div>
                </div>
            </div>               
        </div>
    </div>
</div>
  

