

<div class="main-content">
  <button  mat-icon-button color="warn" style="margin-left:730px;" (click)="close()">
    <span class="material-icons">close</span> </button>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    
                    <div class="card-body">
                        <label class="l1" ><b> <section class="mat-typography">
                            <h2>Fiche FATCA</h2>
                          </section> </b></label> 

                          <div *ngIf="personne_physique.paysNaiss">  
                            <p class="l2"> - Lieu de naissance du client situé aux Etats-Unis  </p>
                          </div>

                          <div *ngIf="personne_physique.usResident">  
                            <p class="l2"> - Le client a residé de facon permenante dans les 3 dernieres annees dans les Etats Unis </p>
                          </div>

                          <div *ngIf="personne_physique.carteVerte">  
                            <p class="l2"> - Le client dispose d'une carte verte</p>
                          </div>

                          <div *ngIf="personne_physique.codeTin">  
                            <p class="l2"> - Le client dispose d'un code TIN  </p>
                          </div>

                          <div *ngIf="personne_physique.indiTelephonique==1">  
                            <p class="l2" > - Le client dispose d’une ligne téléphonique américaine .</p>                   
                          </div>
                          <form #Form="ngForm" >
                            <div class="row">
                        
                              <div class="col-md-6">
                               
                            <mat-form-field appearance="standard"  >
                              <mat-label *ngIf="selectedFiles; else newFile">{{selectedFiles.item(0).name}}</mat-label>
                              <ng-template #newFile>
                                  <mat-label>Ajouter Justificatif</mat-label>
                              </ng-template>
                             
                              <input matInput disabled formControlName="justificatif">
                              <button matSuffix mat-icon-button matTooltip="Click to upload" (click)="fileInput.click()">
                                <span class="material-icons">
                                  attach_file
                                  </span>
                              </button>
                              <input hidden (change)="selectFile($event)" #fileInput type="file" formControlName="file" ngModel>
                              </mat-form-field>
                              
                            <button mat-stroked-button color="primary" (click)="Add(Form)" type="submit"  ><span class="material-icons">article</span> Ajouter</button>
                              
                              </div>
                            </div>
                            </form>
                    </div>
                </div>
            </div>               
        </div>
       
    </div>
    <button mat-stroked-button color="warn" (click)="close()" style="margin-left: 600px;" >Fermer</button>
  </div>


