<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button color="" style="margin-left: 850px" (click)="clientsPhysiques()" >
                    <span class="material-icons">
                    west
                    </span>Voir clients physiques</button>
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Vos clients </h4>
                            <p class="card-category"> Clients Physiques</p>
                        </div>
                    <div class="card-body">
                        <label class="l1">Risque elevé</label>
                        <div style="margin-top: 40px;margin-right: 10px;">

                            <mat-form-field >
                              <mat-label>Filter</mat-label>
                              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                            </mat-form-field>
                            
                            <div class="mat-elevation-z8">
                              <table mat-table [dataSource]="dataSource" matSort>
                            
                                
        <!-- ID Column -->
        <ng-container matColumnDef="codeClient">
            <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> ID Client </th>
            <td mat-cell *matCellDef="let personne_physique"> {{personne_physique.codeClient}} </td>
          </ng-container>
      
        <!-- ID Column -->
        <ng-container matColumnDef="numTelephone">
          <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
          <td mat-cell *matCellDef="let personne_physique"> {{personne_physique.numTelephone}} </td>
        </ng-container>
          <!-- ID Column -->
          <ng-container matColumnDef="statutPersonne">
            <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>  Statut</th>
            <td mat-cell *matCellDef="let personne_physique"> {{personne_physique.statutPersonne}} </td>
          </ng-container>
          <!-- ID Column -->
          <ng-container matColumnDef="paysResidence">
            <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>  Pays  </th>
            <td mat-cell *matCellDef="let personne_physique"> {{personne_physique.paysResidence}} </td>
          </ng-container>
            <!-- ID Column -->
            <ng-container matColumnDef="niveauRisque">
              <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>Risque </th>
              <td mat-cell *matCellDef="let personne_physique"> {{personne_physique.niveauRisque}} </td>
              
            </ng-container>
                                  <ng-container matColumnDef="detailsAction">
                                    <th mat-header-cell *matHeaderCellDef> </th>
                                      <td mat-cell *matCellDef="let personne_physique" style="color: rgb(130, 26, 0);"><i class="material-icons" (click)="details(personne_physique.codeClient)">description</i>
                                </ng-container> 
                                
                                <ng-container matColumnDef="risqueAction">
                                    <th mat-header-cell *matHeaderCellDef> </th>
                                      <td mat-cell *matCellDef="let personne_physique" style="color: indigo;"><i class="material-icons" (click)="risque(personne_physique.codeClient)" >warning_amber</i>
                                </ng-container> 

                                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                                <tr mat-row *matRowDef="let personne_physique; columns: columnsToDisplay ;"></tr>
                            
                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                </tr>
                              </table>
                            
                              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            </div>
                        </div>
                     

                        <label class="l1">Risque moyennement elevé</label>
                        <div style="margin-top: 40px;margin-right: 10px;">

                          
                            
                            <div class="mat-elevation-z8">
                              <table mat-table [dataSource]="dataSource1" matSort>
                             <!-- ID Column -->
        <ng-container matColumnDef="codeClient">
            <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> ID Client </th>
            <td mat-cell *matCellDef="let personne_physique1"> {{personne_physique1.codeClient}} </td>
          </ng-container>
      
        <!-- ID Column -->
        <ng-container matColumnDef="numTelephone">
          <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
          <td mat-cell *matCellDef="let personne_physique1"> {{personne_physique1.numTelephone}} </td>
        </ng-container>
          <!-- ID Column -->
          <ng-container matColumnDef="statutPersonne">
            <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>  Statut</th>
            <td mat-cell *matCellDef="let personne_physique1"> {{personne_physique1.statutPersonne}} </td>
          </ng-container>
          <!-- ID Column -->
          <ng-container matColumnDef="paysResidence">
            <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>  Pays  </th>
            <td mat-cell *matCellDef="let personne_physique1"> {{personne_physique1.paysResidence}} </td>
          </ng-container>
            <!-- ID Column -->
            <ng-container matColumnDef="niveauRisque">
              <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>Risque </th>
              <td mat-cell *matCellDef="let personne_physique1"> {{personne_physique1.niveauRisque}} </td>
              
            </ng-container>
                                  <ng-container matColumnDef="detailsAction">
                                    <th mat-header-cell *matHeaderCellDef> </th>
                                      <td mat-cell *matCellDef="let personne_physique1" style="color: rgb(130, 26, 0);"><i class="material-icons" (click)="details(personne_physique1.codeClient)">article</i>
                                </ng-container> 
                                 
                                <ng-container matColumnDef="risqueAction">
                                    <th mat-header-cell *matHeaderCellDef> </th>
                                      <td mat-cell *matCellDef="let personne_physique1" style="color: indigo;"><i class="material-icons" (click)="risque(personne_physique1.codeClient)" >warning_amber</i>
                                </ng-container> 

                                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                                <tr mat-row *matRowDef="let personne_physique; columns: columnsToDisplay ;"></tr>
                            
                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                </tr>
                              </table>
                            
                            
                              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            </div>
                        </div>

                        <label class="l1">Risque moyennement faible</label>
                        <div style="margin-top: 40px;margin-right: 10px;">

                          
                            
                            <div class="mat-elevation-z8">
                              <table mat-table [dataSource]="dataSource2" matSort>
                             <!-- ID Column -->
        <ng-container matColumnDef="codeClient">
            <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> ID Client </th>
            <td mat-cell *matCellDef="let personne_physique2"> {{personne_physique2.codeClient}} </td>
          </ng-container>
      
        <!-- ID Column -->
        <ng-container matColumnDef="numTelephone">
          <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
          <td mat-cell *matCellDef="let personne_physique2"> {{personne_physique2.numTelephone}} </td>
        </ng-container>
          <!-- ID Column -->
          <ng-container matColumnDef="statutPersonne">
            <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>  Statut</th>
            <td mat-cell *matCellDef="let personne_physique2"> {{personne_physique2.statutPersonne}} </td>
          </ng-container>
          <!-- ID Column -->
          <ng-container matColumnDef="paysResidence">
            <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>  Pays  </th>
            <td mat-cell *matCellDef="let personne_physique2"> {{personne_physique2.paysResidence}} </td>
          </ng-container>
            <!-- ID Column -->
            <ng-container matColumnDef="niveauRisque">
              <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>Risque </th>
              <td mat-cell *matCellDef="let personne_physique2"> {{personne_physique2.niveauRisque}} </td>
              
            </ng-container>
                                  <ng-container matColumnDef="detailsAction">
                                    <th mat-header-cell *matHeaderCellDef> </th>
                                      <td mat-cell *matCellDef="let personne_physique2" style="color: rgb(130, 26, 0);"><i class="material-icons" (click)="details(personne_physique2.codeClient)">article</i>
                                </ng-container> 
                                 
                                <ng-container matColumnDef="risqueAction">
                                    <th mat-header-cell *matHeaderCellDef> </th>
                                      <td mat-cell *matCellDef="let personne_physique2" style="color: indigo;"><i class="material-icons" (click)="risque(personne_physique2.codeClient)" >warning_amber</i>
                                </ng-container> 

                                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                                <tr mat-row *matRowDef="let personne_physique; columns: columnsToDisplay ;"></tr>
                            
                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                </tr>
                              </table>
                            
                            
                              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            </div>
                        </div>

                        <label class="l1">Risque faible</label>
                        <div style="margin-top: 40px;margin-right: 10px;">

                          
                            
                            <div class="mat-elevation-z8">
                              <table mat-table [dataSource]="dataSource3" matSort>
                             <!-- ID Column -->
        <ng-container matColumnDef="codeClient">
            <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> ID Client </th>
            <td mat-cell *matCellDef="let personne_physique3"> {{personne_physique3.codeClient}} </td>
          </ng-container>
      
        <!-- ID Column -->
        <ng-container matColumnDef="numTelephone">
          <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
          <td mat-cell *matCellDef="let personne_physique3"> {{personne_physique3.numTelephone}} </td>
        </ng-container>
          <!-- ID Column -->
          <ng-container matColumnDef="statutPersonne">
            <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>  Statut</th>
            <td mat-cell *matCellDef="let personne_physique3"> {{personne_physique3.statutPersonne}} </td>
          </ng-container>
          <!-- ID Column -->
          <ng-container matColumnDef="paysResidence">
            <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>  Pays  </th>
            <td mat-cell *matCellDef="let personne_physique3"> {{personne_physique3.paysResidence}} </td>
          </ng-container>
            <!-- ID Column -->
            <ng-container matColumnDef="niveauRisque">
              <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>Risque </th>
              <td mat-cell *matCellDef="let personne_physique3"> {{personne_physique3.niveauRisque}} </td>
              
            </ng-container>
                                  <ng-container matColumnDef="detailsAction">
                                    <th mat-header-cell *matHeaderCellDef> </th>
                                      <td mat-cell *matCellDef="let personne_physique3" style="color: rgb(130, 26, 0);"><i class="material-icons" (click)="details(personne_physique3.codeClient)">article</i>
                                </ng-container> 
                                 
                                <ng-container matColumnDef="risqueAction">
                                    <th mat-header-cell *matHeaderCellDef> </th>
                                      <td mat-cell *matCellDef="let personne_physique3" style="color: indigo;"><i class="material-icons" (click)="risque(personne_physique3.codeClient)" >warning_amber</i>
                                </ng-container> 

                                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                                <tr mat-row *matRowDef="let personne_physique; columns: columnsToDisplay ;"></tr>
                            
                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                </tr>
                              </table>
                            
                            
                              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            </div>
                        </div>





                    </div>
               
            </div>               
        </div>
    </div>
    
  </div>


