<div class="main-content">
    <div class="container-fluid">
      
        <div class="row">
            <div class="col-md-12">

              <div class="btn-group" role="group" aria-label="Basic mixed styles example" >   
                <button mat-raised-button color="#2B3E42" style="margin-left: 650px"(click)="clientsPhysiques()"><span class="material-icons" style="margin-right: 5px;">filter_alt</span>Clients physiques</button>
                <button mat-raised-button color="#2B3E42" style="margin-left: 20px" (click)="clientsMorales()" ><span class="material-icons" style="margin-right: 5px;">filter_alt</span>Clients moraux</button>
              </div>
              
  
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Liste clients physiques</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
  <div style="margin-top: 40px;margin-right: 10px;">

    <mat-form-field >
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- ID Column -->
        <ng-container matColumnDef="codeClient">
          <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> ID Client </th>
          <td mat-cell *matCellDef="let personne_physique"> {{personne_physique.codeClient}} </td>
        </ng-container>
    
      <!-- ID Column -->
      <ng-container matColumnDef="nom">
        <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> Nom</th>
        <td mat-cell *matCellDef="let personne_physique"> {{personne_physique.nom}} </td>
      </ng-container>
        <!-- ID Column -->
        <ng-container matColumnDef="prenom">
          <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> Prenom</th>
          <td mat-cell *matCellDef="let personne_physique"> {{personne_physique.prenom}} </td>
        </ng-container>
        <!-- ID Column -->
        <ng-container matColumnDef="statutPersonne">
          <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>  Statut  </th>
          <td mat-cell *matCellDef="let personne_physique"> {{personne_physique.statutPersonne}} </td>
        </ng-container>
          <!-- ID Column -->
          <ng-container matColumnDef="niveauRisque">
            <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>Risque </th>
            <td mat-cell *matCellDef="let personne_physique"> {{personne_physique.niveauRisque}} </td>
            
          </ng-container>

          
          <ng-container matColumnDef="detailsAction">
            <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let personne_physique" style="color: rgb(130, 26, 0);"><i class="material-icons" (click)="details(personne_physique.codeClient)">description</i>
        </ng-container> 

          
        <ng-container matColumnDef="deleteAction">
            <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let contact" style="color: indigo;"><i class="material-icons" (click)="deletePP(contact.codeClient)">delete</i>
        </ng-container> 
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let personne_physique; columns: columnsToDisplay ;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Aucune donnée correspondant au recherche {{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>
</div>
</div>               
</div>
</div>


</div>