<label class="l1">Liste d’associés / principaux actionnaires par ordre décroissant de participation</label>
<form class="example-form" [formGroup]="this.form"> 
  
  <button mat-stroked-button style="margin-left: 100%;" (click)="onSet()"><span class="material-icons">
    add_circle_outline
    </span></button>
                 <div class="row">
                      <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input formControlName="nom" matInput [(ngModel)]="beneficiaire_effectif.nom" id="nom"  placeholder="Nom" required>
                        <mat-error>Champs obligatoire.</mat-error>  
                      </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input  formControlName="prenom"  matInput  required [(ngModel)]="beneficiaire_effectif.prenom"  id="prenom" placeholder="Prenom"  >
                          <mat-error>Champs obligatoire.</mat-error>
                        </mat-form-field>
                       </div>
                 </div>
                 <div class="row">
                       <div class="col-md-6">
                        <mat-form-field class="example-full-width">

                          <mat-label>Pays residence</mat-label>
                        <mat-select matInput [(ngModel)]="beneficiaire_effectif.paysResidence" id="paysResidence" formControlnName="paysResidence"  placeholder="Pays residence" type="text">
                          <mat-option *ngFor="let liste_nationnalite of liste_nationnalite" [value]="liste_nationnalite.nationalite"  matInput >
                            {{liste_nationnalite.nationalite}}
                          </mat-option>
                        </mat-select>
                        <mat-error>Champs obligatoire.</mat-error>
                        </mat-form-field>
                       </div>
                       
                       <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input   formControlName="pourcentage" id="pourcentage" [(ngModel)]="beneficiaire_effectif.pourcentage" required  matInput placeholder="Pourcentage" type="number" >
                          <mat-error>Champs obligatoire.</mat-error>
                        </mat-form-field>
                       </div>
                       
                    </div>

                    <div class="row">
                    <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input formControlName="CIN" matInput #CIN maxlength="8" required [(ngModel)]="beneficiaire_effectif.codeClient" id="codeClient" required matInput placeholder="Numero Carte identite" type="number" >
                      <mat-hint align="end">{{CIN.value?.length || 0}}/8</mat-hint>
                      <mat-error *ngIf="service.form.controls['CIN'].errors?.required">Champs obligatoire.</mat-error>
                  </mat-form-field>
                  <mat-error *ngIf="CIN.value?.length!=8">Le numéro de la carte d'identité nationale est composé de 8 chiffres</mat-error>

                    </div>
                     
                    
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input   required   [(ngModel)]="beneficiaire_effectif.numPassport" formControlName="numPassport" id="numPassport" required matInput placeholder="Numero passeport" type="text"  >
                      </mat-form-field>
                      </div>
                    </div>

                    
                   
</form>

                    <tr> 
                      <td>
                    <button mat-raised-button color="primary" style="margin-left:570%;" (click)="OnCreate(beneficiaire_effectif.codeClient)" >Ajouter </button>        
                  </td>
                  <td>
                    <button mat-raised-button color="warn" style="margin-left:600%;"  (click)="Close()">Fermer </button> </td>
                  </tr>    
<!--[disabled]="this.form.invalid"-->
<!---->
<!---->
