<div class="main-content">
  <div class="container-fluid">
    
      <div class="row">
          <div class="col-md-12">

          

              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Vos transactions</h4>
                      <p class="card-category"> Inspecter tous les transactions </p>
           
                  </div>
                  <div class="card-body">
<div style="margin-top: 40px;margin-right: 10px;">

  <mat-form-field >
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="codeTransaction">
        <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> Identifiant </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.codeTransaction}} </td>
      </ng-container>
  
    <!-- ID Column -->
    <ng-container matColumnDef="ribEmetteur">
      <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>  RIB Client </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.ribEmetteur}} </td>
    </ng-container>
      <!-- ID Column -->
      <ng-container matColumnDef="typeTransaction">
        <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>   Type</th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.typeTransaction}} </td>
      </ng-container>
      <!-- ID Column -->
      <ng-container matColumnDef="montant">
        <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>   Montant </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.montant}} DT</td>
      </ng-container>
        <!-- ID Column -->
        <ng-container matColumnDef="dateTransaction">
          <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.dateTransaction}} </td>
          
        </ng-container>


          <!-- ID Column -->
          <ng-container matColumnDef="statutTransaction">
            <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header>    Statut </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.statutTransaction}} </td>
            
          </ng-container>

          <ng-container matColumnDef="detailsAction">
            <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let transaction" style="color: indigo;"><i class="material-icons" (click)="details(transaction.codeTransaction)">article</i>
        </ng-container> 

   
        
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let transaction; columns: columnsToDisplay ;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
</div>
</div>               
</div>
</div>


</div>