<div class="main-content">
  <div class="container-fluid">
    
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Compte clients</h4>
                      <p class="card-category"></p>
                  </div>
                  <div class="card-body">
<div style="margin-top: 40px;margin-right: 10px;">
<mat-form-field >
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="rib">
      <th   style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> ID Client </th>
      <td mat-cell *matCellDef="let comptes"> {{comptes.contactCompte.codeClient}} </td>    </ng-container>

     <!-- ID Column -->
     <ng-container matColumnDef="numCompte" >
      <th style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header > Numero de compte </th>
      <td mat-cell *matCellDef="let comptes"> {{comptes.numCompte}} </td>
    </ng-container>

    
    <!-- ID Column -->
    <ng-container matColumnDef="solde">
      <th style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> Solde </th>
      <td mat-cell *matCellDef="let comptes"> {{comptes.solde}} </td>
    </ng-container>

 <!-- ID Column -->
 <ng-container matColumnDef="nomAgence">
  <th  style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> Nom Agence </th>
  <td mat-cell *matCellDef="let comptes"> {{comptes.nomAgence}} </td>
</ng-container>

     <!-- ID Column -->
     <ng-container matColumnDef="dateOuverture">
      <th style="color: indigo;" mat-header-cell *matHeaderCellDef mat-sort-header> Date Ouverture </th>
      <td mat-cell *matCellDef="let comptes"> {{comptes.dateOuverture}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let comptes; columns: columnsToDisplay ;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</div>
</div>
</div>               
</div>
</div>


</div>