
    

    <button  mat-icon-button color="warn" style="margin-left:330px;" (click)="close()">
        <span class="material-icons">close</span> </button>
        
            <br>

          
<tr>
    <td><button  mat-raised-button color="primary"  style="margin-left:20px;margin-top:100px;height: 50px;width:350px;" (click)="ajouterClientPhysique()" ><span class="material-icons" style="margin-right: 15px;">
        add_box
        </span>Ajouter client physique</button>
    </td>
</tr>
<tr>
    <td><button  mat-raised-button color="warn" style="margin-left: 20px;margin-top: 35px;height: 50px;width:350px;" (click)="ajouterClientMoral()"><span class="material-icons" style="margin-right: 15px;">
        add_box
        </span>Ajouter client moral</button>
    </td>
</tr>
