<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-10">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Operations</h4>
                      <p class="card-category">Entrez le type de l'operation</p>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="this.form">
                          <div class="row">
                              <div class="col-md-8">
                                  <mat-form-field class="example-full-width">
                                      <mat-label>Type operation</mat-label>
                                    <mat-select  matInput  #operation formControlName="operation" type="text" id="operation" type="text">
                                      <mat-option value="virement">virement</mat-option>
                                      <mat-option value="prelevement">prelevement</mat-option>
                                      <mat-option value="versement">versement</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                              </div>
                         </div>
                          <div *ngIf="operation.value=='virement'">  
                              <label class="l1">DETAILS COMPTE EMETTEUR :</label>
                              <div class="row">
                                  <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input  matInput [(ngModel)]="transaction.nomEmetteur"   formControlName="nomEmetteur" id="nomEmetteur"  placeholder="Nom complet" type="text" >
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput [(ngModel)]="transaction.cinEmetteur"   formControlName="cinEmetteur" id="cinEmetteur"  placeholder="CIN Emetteur " type="number" >
                                    </mat-form-field>
                                </div>
                                  <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput [(ngModel)]="transaction.compteTransaction"    #v1 formControlName="compteTransaction" id="compteTransaction"  placeholder="RIB" type="number" >
                                    </mat-form-field>
                                  </div>
                              </div>
                           
                              <label class="l1">INFORMATIONS SUR LE DESTINATAIRE:</label>
                              <div class="row">
                                  <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input  matInput [(ngModel)]="transaction.nomDestinataire"   formControlName="nomDestinataire" id="nomDestinataire"  placeholder="Nom complet" type="text" >
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput [(ngModel)]="transaction.cinDestinataire"   formControlName="cinDestinataire" id="cinDestinataire"  placeholder="CIN Destinataire " type="number" >
                                    </mat-form-field>
                                </div>
                                  <div class="col-md-4">
                                      <mat-form-field class="example-full-width">
                                        <input matInput [(ngModel)]="transaction.ribDestinataire" #v2   formControlName="ribDestinataire" id="ribDestinataire"  placeholder="RIB " type="text" >
                                      </mat-form-field>
                                  </div>
                              </div>
                              <label class="l1">DETAILS DE LA TRANSACTION:</label>
                              <div class="row">
                                  <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput [(ngModel)]="transaction.montant"  #v3  formControlName="montant" id="montant"  placeholder="Montant " type="number" >
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-4">                      
                                      <mat-form-field class="example-full-width" style="margin-top: 15px;">
                                        <mat-label>Pays Destinataire</mat-label>
                                        <mat-select [(ngModel)]="transaction.paysDestinataire" formControlName="paysDestinataire" type="text" id="paysDestinataire">
                                          <mat-option *ngFor="let liste_nationnalite of liste_nationnalite" [value]="liste_nationnalite.nationalite"  matInput >
                                            {{liste_nationnalite.nationalite}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field> 
                                    
                                  </div>
                                  <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput formControlName="date" placeholder="Date" type="date" >
                                    </mat-form-field>
                                </div>
                                 
                              </div>
                              <button class="btn btn-primary btn-xs" (click)="virement(transaction.compteTransaction,v1.value,v2.value,v3.value)"  ><span class="material-icons">article</span>Enregistrer</button>
                              </div>
                          <div *ngIf="operation.value=='prelevement'">  
                              <label class="l1">DETAILS COMPTE CLIENT :</label>
                              <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input  matInput [(ngModel)]="transaction.nomEmetteur"   formControlName="nomEmetteur1" id="nomEmetteur1"  placeholder="Nom complet" type="text" >
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput [(ngModel)]="transaction.cinEmetteur"   formControlName="cinEmetteur1" id="cinEmetteur1"  placeholder="CIN Emetteur " type="number" >
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput [(ngModel)]="transaction.compteTransaction"   formControlName="compteTransaction1" id="compteTransaction1"  placeholder="RIB" type="number" >
                                  </mat-form-field>
                              </div>
                            </div>
                           <!-- <div class="row">
                             <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput [(ngModel)]="transaction.typeCompteEmetteur"   formControlName="typeCompteEmetteur1" id="typeCompteEmetteur1"  placeholder="Type compte " type="text" >
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput [(ngModel)]="transaction.compteTransaction"   formControlName="compteTransaction1" id="compteTransaction1"  placeholder="RIB" type="number" >
                                  </mat-form-field>
                              </div>
                            </div>--> 
                              <label class="l1">DETAILS DE LA TRANSACTION:</label>
                              <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput [(ngModel)]="transaction.montant" #v3  formControlName="montant1" id="montant1"  placeholder="Montant " type="number" >
                                  </mat-form-field>
                                </div>
                                  <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                        <input matInput formControlName="date1" placeholder="Date" type="date" >
                                      </mat-form-field>
                                  </div>
                              </div>
                              <button class="btn btn-primary btn-xs" (click)="prelevement(v3.value)"  ><span class="material-icons">article</span> Confirmer</button>
                          </div>
                        <div *ngIf="operation.value=='versement'">  
                            <label class="l1">DETAILS COMPTE CLIENT :</label>
                            <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input  matInput [(ngModel)]="transaction.nomEmetteur"   formControlName="nomEmetteur2" id="nomEmetteur2"  placeholder="Nom Complet" type="text" >
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput [(ngModel)]="transaction.cinEmetteur"   formControlName="cinEmetteur2" id="cinEmetteur2"  placeholder="CIN Emetteur " type="number" >
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput [(ngModel)]="transaction.compteTransaction"   formControlName="compteTransaction2" id="compteTransaction2"  placeholder="RIB " type="number" >
                                </mat-form-field>
                            </div>
                          </div>
                         <!-- <div class="row">
                             <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput [(ngModel)]="transaction.typeCompteEmetteur"   formControlName="typeCompteEmetteur2" id="typeCompteEmetteur2"  placeholder="Type compte " type="text" >
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput [(ngModel)]="transaction.compteTransaction"   formControlName="compteTransaction2" id="compteTransaction2"  placeholder="RIB " type="number" >
                                </mat-form-field>
                            </div>
                          </div>--> 
                            <label class="l1">DETAILS DE LA TRANSACTION:</label>
                            <div class="row" >
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput [(ngModel)]="transaction.montant"  #v3  formControlName="montant2" id="montant2"  placeholder="Montant " type="number" >
                                </mat-form-field>
                              </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput formControlName="date2" placeholder="Date" type="date" >
                                    </mat-form-field>
                                </div>
                            </div>
                                  <button class="btn btn-primary btn-xs" (click)="versement(v3.value)" ><span class="material-icons">article</span>Enregistrer</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>